---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = 'Toma Džusy - Původní česká značka',
  description = 'Vítejte u značky Toma, původní české značky s dlouholetou tradicí v oblasti výroby džusů.'
} = Astro.props;
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    <!-- Netlify Identity Widget -->
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <slot />
    
    <!-- Netlify Identity Widget Script -->
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>

